.box {
  border: 1px solid black;
}

form {
  font-size: 36px;
  /* text-align: center; */
  margin-left: 40%;
  margin-right: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.results {
  text-align: center;
}